/*************************** RESET CSS ***********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
 del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

 /***************** MISE EN PAGE ********************/
.container-fluid
{
    padding: 0 !important;
    margin: 0 ! important;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

h1, h2, h3, h5, a, a:hover
{
    font-family: 'Lancelot', cursive;
}
.row
{
    padding: 0 !important;
    margin: 0 ! important;
} 

body::-webkit-scrollbar 
{
    display: none;
}

        /********* HOVER EFFECT ******************/

nav li:hover, .visit-button:hover, .article_contact img:hover, .bouton:hover, .carousel-control-next:hover, .carousel-control-prev:hover
{    
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes pulse 
{
    0% 
    {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% 
    {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% 
    {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse 
{
    0% 
    {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% 
    {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% 
    {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} 

/******************* HEADER ********************/

header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 15vh;
    background-image: linear-gradient(to bottom, #39204a, #3c224d, #3e2550, #412754, #442a57, #482d5b, #4b305f, #4f3363, #543769, #5a3c6f, #5f4076, #65457c);
}

nav
{
    height: 100%;   
}

nav ul
{
    height: 100%;
}

nav li
{
    list-style-type: none; 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

nav li a
{
    text-decoration: none !important;
    color: white;
}

nav li a:hover
{
    color: white;    
}

/************************************ MAIN *********************/
main
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(to bottom, #65457c, #6b4a83, #714f8a, #775491, #7d5998, #815d9c, #8460a0, #8864a4, #8b67a6, #8d69a8, #906caa, #926fac);
}    

.page
{
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 10vh;
}
            /********** ACCUEIL *********/
.gradient_text
{
    background-color: black;
    background-image: linear-gradient(to bottom, #36227e, #373990, #394ea1, #3e63b0, #4877be, #3c88cb, #3299d6, #2eaadf, #00bbe4, #00cbe4, #00dbdd, #43e9d3);  
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}
.stretched 
{
    -webkit-transform: scale(1, 2);
       -moz-transform: scale(1, 2);
        -ms-transform: scale(1, 2);
         -o-transform: scale(1, 2);
            transform: scale(1, 2);
}
.titre_accueil h1
{
    font-size: 100px;
    font-weight: bolder;
    text-align: center; 
}
.titre_accueil h2
{
    font-size: 80px;
    font-weight: bolder;
    text-align: center; 
}
            /********** A PROPOS ***********/
.article_apropos
{
    height: 100%;
}

.article_apropos img
{
    clip-path: ellipse(44% 50% at 50% 50%);
}

.article_apropos h2
{
    font-size: 45px;
    font-weight: bold;
}

.article_apropos p
{
    font-size: 24px;
    margin-bottom: 1%;

}
.article_apropos a
{
    text-decoration: none;
    color: #370955;
    font-weight: bold;
    font-size: 24px;
}
            /*********** PARCOURS ************/
.parcours
{
    height: 100%;
}
.parcours_top
{
    width: 100%;
    height: 80%;
}
.parcours_bottom
{
    width: 100%;
    height: 20%;
}
.formation, .competences
{
    height: 80%;
    width: 100%;
    padding: 2%;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 4px -4px 4px #27083b, inset 2px -2px 2px #27083b;   
}
.parcours h2
{
    font-size: 40px;
    margin-bottom: 1vh;
    font-weight: bold;
    text-align: center;
}
.parcours h3
{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1vh;
}
.parcours a
{
    text-decoration: none;
    color: #370955;
    font-weight: bold;
    font-size: 30px;
}
.parcours li
{
    font-size: 25px;
    list-style-type: none;    
}
.etudes p
{
    font-size: 25px;
    text-align: justify;
    padding: 3%;
    margin-bottom: 1vh;
}
.competences ul
{
    width: 100%;
    height: 40%;
    padding: 2%;
}
.competences img
{
    width: 85%;
    height: auto;
}
        /***** IMG INFOBULLE *****/

.infobulle 
{
    position: relative;  /*les .infobulle deviennent référents*/
    cursor: help;
    border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.infobulle:hover::after,
.infobulle:focus::after 
{
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap; 
    padding: 5px 14px;
    background: #370955;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}
/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #370955;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}
        /********* FIN INFOBULLE ******/
.experience
{
    width: 100%;
    height: 80%;
}
.experience p
{
    font-size: 25px;
    text-align: center;
}

            /************ PROJETS **************/

#carousel
{
    width: 80%;
} 
.carousel-indicators
{
    position: relative;
}

.carousel-item:hover .carousel-caption 
{
	visibility: visible;
	opacity: 1;
}
.carousel-caption 
{
    position: absolute;
	top: 0px;
	left: 0;
	height: 100%;
    width: 100%;
    padding: 10%;
    border: 5px solid white;
    background-color: rgba(0,0,0,0.8);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.2s linear;
	-o-transition: visibility 0s, opacity 0.2s linear;
	transition: visibility 0s, opacity 0.2s linear;
}

.carousel-caption h5
{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.carousel-caption p
{
    font-size: 20px;
    text-emphasis: center;   
}
.visit-button
{
    border: 4px solid #39204a;
    border-radius: 10px;
    background-color:  #e6cef7;
    width: 30%; 
    padding-top: 2%;
    padding-bottom: 2%;
    align-self: center;   
}
.visit-button a
{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #39204a;
}


            /*************** CONTACT *************/

.article_contact
{
    height: 90%;
    width: 100%;
}

.info
{
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 4px -4px 4px #27083b, inset 2px -2px 2px #27083b; 
}

.info img
{
    width: 30%;
    height: auto;
}

.email, .linkedin, .github
{
    width: 80%;
    height: 15vh;
}

.info a
{
    text-decoration: none;
    color: #000000;
    width: 100%;
}

.article_contact h3
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/*************** FORMULAIRE (Sera intégré lorsque j'aurais appris JS et Ajax
form
{
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
}

.article_contact h2
{
    font-size: 45px;
    font-weight: bold;
    border-bottom: 2%;
}

.nom_prenom
{
    width: 100%;
    height: 4vh;
}
.nom, .prenom
{
    width: 50%;
    text-align: center;
}
#nom, #prenom
{
    width: 90%;
    height: 4vh;
    font-size: 25px;
    font-family: 'Lancelot', cursive;
}

.mail
{
    width: 100%;
    height: 3vh;
    text-align: center;
}
#mail
{
    width: 70%;
    height: 4vh;
    font-size: 25px;
    font-family: 'Lancelot', cursive;
}

.message
{
    width: 100%;
    height: 25vh;
}

#message
{
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Lancelot', cursive;
    
}

input, textarea 
{
    border: 4px solid  #39204a;
    border-radius: 10px;
    background-color: #e6cef7;
}

input:focus, textarea:focus
{
    border: 4px solid  #39204a;
    border-radius: 10px;
    background-color: #e6cef7;
}

::placeholder
{
    color: #212529;
    opacity: 1;
}

.button
{
    border: 4px solid  #39204a;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Lancelot', cursive;
    font-size: 25px;
}
 **************/

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 15vh; 
    
}
footer p
{
    font-size: 30px;
    font-weight: bold;
    color: white !important;
    padding-bottom: 1%;
}