/***** FONTS ******/
@font-face {
    font-family: 'DarumaDropOne';
    src: url('/assets/fonts/daruma-drop-one-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Schoolbell';
    src: url('/assets/fonts/Schoolbell-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('/assets/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}

body {
    font-family: GloriaHallelujah;
}

h1, h2 {
    font-family: DarumaDropOne;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

button, #nav-list {
    font-family: Schoolbell;
    cursor: pointer;
    font-size: 1.2rem;
}

/***** COLORS ******/
:root {
    --haiti: #201534;
    --ebony-clay: #2B1C47;
    --royal-fuchsia : #C22492;
}

body {
    background-color: var(--ebony-clay);
    color: white;
}

em {
    color: var(--royal-fuchsia);
}

/***** SCROLLBAR  ******/
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--ebony-clay);
}

::-webkit-scrollbar-thumb {
    background: var(--haiti);
}

/***** ANIMATIONS  ******/
@keyframes slide-down {
    0% {
      transform: translateY(-100px);
    }
}

@keyframes slide-up {
    0% {
      transform: translateY(100px);
    }
}

/***** UTILITIES ******/

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px 0;
}

.line {
    height: 2px;
    margin: 0 auto;
    background-color: white;
    margin: 10px 20%;
}

/***** LANDING PAGE ******/

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#home h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

#home button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white; 
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

#home button:hover {
    color: var(--royal-fuchsia);
    border-color: var(--royal-fuchsia);
    box-shadow: 0px 4px 4px #201534;
    transform: translateY(-2px);
}

#home button:active {
    box-shadow: none;
    transform: translateY(0);
}

.fa-arrow-right {
    margin-left: 10px;
    transition: transform .2s ease-in-out;
}
/***** MAIN *****/
main {
    min-height: 100vh;
}

/***** NAVBAR *****/
nav {
    width: 100%;
    height: 95px;
    display: flex;
    background-color: var(--haiti);
    animation: slide-up .5s;
}

nav.sticky {
    animation: slide-down .5s;
}

.sticky {
    position: fixed;
    top: 0; 
}

.sticky + #about {
    padding-top: 200px;
    transition: all .5s ease;
}

/* BURGER BUTTON */
#burger-btn {
    flex-direction: column;
    align-self: center;
    position: absolute;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6                                px) ;
    transform: rotate(-45deg) translate(-7px, 7px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
    transform: rotate(45deg) translate(-7px, -7px) ;
}

/* MENU */
#nav-list {
    width: 100%;
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--haiti);
    border-top: 1px solid #3D3351;
    box-shadow: 0px 4px 4px #201534;
    padding: 10px 0;
}

.nav-list-show {
    display: flex !important;
    position: relative;
    top: 95px;
    z-index: 10;
}

#nav-list li {
    line-height: 3;
}

#nav-list li:hover, .selected {
    color: var(--royal-fuchsia);
}

/***** ABOUT *****/
#about {
    min-height: 80vh;
    flex-direction: column;
    padding: 40px;
}

.container {
    flex-direction: column;
    width: 100%;
}

/* ARTICLE */
#about article {
    text-align: center;
}

#about article p {
    margin: 20px 0;
}

.small {
    font-size: 0.6rem;
}

/* ASIDE */
.picture {
    width: 210px;
    height: auto;
    margin: 0 auto;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
}

.picture img {
    width: 210px;
    height: auto;
    clip-path: circle(45% at 50% 50%);
}

.contact {
    justify-content: space-evenly;
    margin: 30px 0;
}

aside svg {
    font-size: 3rem;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

aside svg:hover {
    transform: translateY(-2px);
}

aside svg:active {
    transform: translateY(0);
}
 

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.3rem;
    }
    .small {
        font-size: 0.8rem;
    }
    .title {
        margin: 40px 0;
    }
    /***** LANDING PAGE ******/
    #home h1 {
        font-size: 2.6rem;
    }
    #home button {
        font-size: 1.5rem;
    }
    /***** NAVBAR ******/
    #burger-btn {
        display: none;
    }
    #nav-list {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: none;
    }
    #nav-list li {
        font-size: 1.5rem;
    }
    /***** ABOUT ******/
    .container {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 900px;
    }
    #about article {
        text-align: left;
        padding-left: 30px;
        max-width: 600px;
    }
}