/*************************** RESET CSS ****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
 del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/************************ MISE EN PAGE **********************/
.container-fluid
{
    padding: 0 !important;
    margin: 0 ! important;
    font-family: 'Oswald', sans-serif;
}
.container
{
    padding: 0 !important;
}
.row
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
a
{
    text-decoration: none !important;
    color: black;
}
a:hover
{
    color: #EA9F05;
}
li
{
    list-style: none;
}

/************************************* HEADER *******************************/
header
{
    background-color: #E8E8E8;
    height: 16vh;
}
.header
{
    height: 16vh;
}
        /***************** LOGO ***************/
.logo
{
    border-left: 2px solid #EA9F05;
}
.jaune
{
    color: #EA9F05;
}
.logo p
{
    font-size: 20px;
    margin-bottom: 1vh;
    white-space: nowrap;
    width: 100%;
}
        /************** EN-TETE *************/
.haut
{
    border: 1px solid;
    height: 7vh;
}
.haut img
{
    margin-left: 5%;
    margin-right: 5%;
}
.milieu
{
    height: 4vh;
    font-size: 20px;
    text-align: right;
    padding-right: 1%;
}
.bas, nav
{
    height: 4vh;
    padding: 0 !important;
}

.item1
{
    border-left: 1px solid;
}
.item2
{
    border-left: 1px solid;
    border-right: 1px solid;
}
.item3
{
    border-right: 1px solid;
}

/*************************** MAIN *******************************/

main
{
    background-color: #0E0E0E;
}
.main
{
    background-color: #E8E8E8;
}
.banniere img
{
    width: 100%;
    height: auto;
}
.contenu
{
    padding-top: 4vh;
    padding-bottom: 5vh;
    height: auto;
}
.top, .bottom
{
    margin-bottom: 5vh;
}
            /*********** ARTICLES *****************/
article, article div
{
    width: 100%;
}
article img
{
    width: 100%;
    height: auto;
}
.photo
{
    position: relative;
}
.remise
{
    font-size: 25px;
    font-weight: bold;
    color: #EA9F05;
    white-space: nowrap;
    padding: 2%;
    border: 4px solid #858383;
    border-style: inset;
    border-radius: 4px;
    background-color: #3a3939;
    position: absolute;
    top: 2%;
    left: 90%;
}
.description
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 0%;
    top: 88%;   
}
.vente, .prix, .ancien_prix, .nouveau_prix
{
    width: 50%;
}
.vente
{
    height: 90%;
    background-color: #414040;
    color: white;
    font-size: 20px;
    border: 4px solid #858383;
    border-radius: 4px;
    border-style: outset;
}
.prix
{
    border-bottom: 1px solid;
}
.ancien_prix
{
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-thickness: 0.4vh;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
}
.nouveau_prix
{
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #EA9F05;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
}
/***************************** FOOTER ************************/
.barre
{
    width: 100%;
    height: 3vh;
    background-color: #383737;
    position: absolute;
    top: -9%;
    z-index: 2;
}
footer
{
    background-color: #383737;
    height: 60vh;
    position: relative;
}
.footer
{
    height: 100%;
}
.mentions
{
    width: 100%;
    height: 8vh;
    position: relative;
    top: -6%;
    z-index: 3;    
}
.mentions_contenu
{
    width: 100%;
    background-color: #E8E8E8;
    height: 8vh;
    border-radius: 4px;
    font-size: 18px;
}
.mentions_contenu li
{
    text-align: center;
    width: 25%;
    line-height: 26px;
}
.mentions_contenu li:nth-of-type(2):before, .mentions_contenu li:nth-of-type(3):before, .mentions_contenu li:nth-of-type(4):before
{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(180, 178, 178);
    display: inline-block;
    position: relative;
    left: -21%;
    top: 2px;
}
.mentions_contenu a
{
    line-height: 26px;
    text-align: center;
}
.services_contenu
{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5%;
}
.services_contenu li
{
    width:20%;
}
.services_contenu img
{ 
    width: 50%;
    height: auto;
}
.media
{
    width: 40%;
    height: 10vh;
    border-top: 3px solid black;
    box-shadow: 0px -1px 0px rgb(167, 164, 164); 
}
.media a
{
    width: 30%;
}
.media img
{
    width: auto;
    height: 100%;
}
.copyright
{
    font-size: 20px;
    color: white;
    padding-bottom: 2%;
}
/***********************************************************************/
/***************************** RESPONSIVE ******************************/

        /*********************** <=991px*********************/
@media screen and (max-width: 991px)
{
    .remise
    {
        font-size: 20px;
        top: 2%;
        left: 85%;
    }

}

        /******************* <=767px *********************/
@media screen and (max-width: 767px)
{
    .banniere, .compte p, .panier p, .menu
    {
        display: none;
    }
    .logo img
    {
        width: 100%;
        height: auto;
    }
    .haut, .milieu, .bas
    {
        height: 5vh;
    }
    .haut img
    {
        height: 4vh;
        width: auto;
    }
    #navbarSupportedContent
    {
        z-index: 3;
        background-color: #E8E8E8;
        text-align: right;
        padding-right: 4px;
        border: 2px solid;
        border-radius: 5px;
    }
    .item1, .item2, .item3
    {
        border: none;
    }
    .services_contenu
    {
        display: grid !important;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        grid-gap: 4%;
        font-size: 15px;
    }
    .services_contenu img
    { 
        width: 25%;
        height: auto;
    }
    .services_contenu li
    {
        width: 100%;
    }
    .livre
    {
        grid-row: 1;
        grid-column: 1;
    }
    .camion
    {
        grid-row: 1;
        grid-column: 2;
    }
    .cadenat
    {
        grid-row: 2;
        grid-column: 1;
    }
    .pouce
    {
        grid-row: 2;
        grid-column: 2;
    }
}
    /******************* <=576px *********************/
@media screen and (max-width: 576px)
{
    article
    {
        margin: 0 !important;
    }
    .services_contenu
    {
       width: 90%;
    }
}
